<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gym_application"
        tools:targetApi="31">
        <activity
            android:name=".admin_gallery"
            android:exported="false" />
        <activity
            android:name=".news_admin"
            android:exported="false" />
        <activity
            android:name=".Admin_view_profile"
            android:exported="false" />
        <activity
            android:name=".FeesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminAnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".GalleryActivity"
            android:exported="true" />
        <activity
            android:name=".AnnouncementsActivity"
            android:exported="true" />
        <activity
            android:name=".AdminProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AdminMembersActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:exported="true" />
        <activity
            android:name=".DeleteActivity"
            android:exported="true" />
        <activity
            android:name=".ChangeEmailActivity"
            android:exported="true" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ViewProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AddProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" /> <!-- Services -->
        <service
            android:name=".AnnouncementsService"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>